<div ng-controller="mainController" class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand">
        <i class="fa fa-bolt" aria-hidden="true"></i>
      </a>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span ng-model="title" class="navbar-brand">The Cast</span>

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href='' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ng-model="extendedButton">Extended Forecast <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-click="showForecast('oneDay', 'threeDay', 'fiveDay')"><a href="">One Day</a></li>
            <li role="separator" class="divider"></li>
            <li ng-model="threeDayButton" ng-click="showForecast('threeDay', 'oneDay', 'fiveDay')"><a href="" >Three Day</a></li>
            <li role="separator" class="divider"></li>
            <li ng-model="fiveDayButton" ng-click="showForecast('fiveDay', 'threeDay', 'oneDay')"><a href="">Five Day</a></li>
          </ul>
        </li>
        <button ng-show="oneDay" class="btn btn-primary navbar-btn" ng-model="showFull" ng-click="showFull('oneDayExpand')"> Hourly </button>
        <button  ng-show="threeDay" ng-model="threeDayExpander" class="btn btn-primary navbar-btn" ng-click="showFull('threeDayExpand')"> Hourly </button>
        <button ng-show="fiveDay" ng-model="fiveDayExpander" class="btn btn-primary navbar-btn" ng-click="showFull('fiveDayExpand')"> Hourly </button>
      </ul>
      </div>
    </div>
  </nav>
  <div class="weatherDisplay col-md-12">
    <div class="showButtons">
    </div>
    <div class="oneDayDiv" ng-show="oneDay">
      <h1>{{day}}</h1>
      <img id="oneDayIcon" src="http://openweathermap.org/img/w/{{currentTemp['weather'][0].icon}}.png" alt="">
      <p id="oneDayDescription">{{currentTemp['weather'][0].description}}</p>
      <p id="oneDayLow"> Minimum Temperature: {{minAndMax.minimum}} &#8457</p>
      <p id="oneDayHigh"> Maximum Temperature: {{minAndMax.maximum}} &#8457</p>
      <p id="currentTemperature"> Current Temperature: {{currentTemp.main.temp}} &#8457</p>
      <p id="oneDayHumidity"> Humidity: {{currentTemp.main.humidity}} % </p>
      <p id="oneDayWind"> Wind: {{currentTemp.wind.speed}} mph </p>
        <div id="oneDayExpand" ng-show="oneDayExpand">
        <table class="table table-striped">
        <tbody ng-repeat="(key,value) in currentHourly.hourly">
        <tr>
          <div class='row'>
            <td class="hourlyCast thirds" id={{key}}><span class="bold"> {{key}}</span>: {{value.main.temp}} &#8457 </td>
            <td class="hourlyCast description thirds" id={{key}}> {{value.weather[0].description}} </td>
            <td class="thirds"><img src="http://openweathermap.org/img/w/{{value.weather[0].icon}}.png" alt=""> </td>
          </div>
        </tr>
        </tbody>
        </div>
      </table>
        </div>
    </div>
    <div class="threeDayDiv col-md-10" ng-show="threeDay">
      <div ng-repeat="(key,value) in threeDayForecast">
      <h1>{{key}}</h1>
      <img class="iconShow" src="http://openweathermap.org/img/w/{{value['03pm']['weather'][0].icon}}.png" alt="">
      <p class="descriptionShow">{{value['03pm']['weather'][0]['description']}}</p>
<p class="temperatureShow" id="tempShow">Temperature: {{value['03pm']['main']['temp']}} &#8457</p>
       <div class="threeDayExpand" ng-show="threeDayExpand">
         <table class="table table-striped">
           <tbody ng-repeat="(hour,values) in threeDayForecast[key]">
             <tr>
               <td class="hourlyCast" id={{hour}}> <span class="bold">{{hour}} </span>: {{values.main.temp}} &#8457 </td>
               <td><img src="http://openweathermap.org/img/w/{{values.weather[0].icon}}.png" alt=""></td>
               <td class="hourlyDescription">{{values['weather'][0]['description']}} </td>

             </tr>
           </tbody>
         </table>
       </div>
     </div>
   </div>
   <div class="fiveDayDiv col-md-10" ng-show="fiveDay">

     <div ng-repeat="(key,value) in fiveDayForecast">
     <h1>{{key}}</h1>
     <img id="oneDayIcon" src="http://openweathermap.org/img/w/{{value['03pm']['weather'][0].icon}}.png" alt="">
     <p class="dayDescription">{{value['03pm']['weather'][0]['description']}}</p>
     <p class="dayTemperature">Temperature: {{value['03pm']['main']['temp']}} &#8457</p>
       <div class="fiveDayExpand"  ng-show="fiveDayExpand">
        <table class="table table-striped">
          <tbody ng-repeat="(hour,values) in fiveDayForecast[key]">
            <tr>
              <td class="hourlyCast" id={{hour}}> <span class="bold">{{hour}} </span>: {{values.main.temp}} &#8457 </td>
              <td class="fiveDayIcons"><img src="http://openweathermap.org/img/w/{{values.weather[0].icon}}.png" alt=""></td>
            </tr>
          </tbody>
        </table>
       </div>
     </div>
   </div>
   <!-- <div ng-repeat="x in array1">
     <p>{{x}}</p>
     <div ng-repeat="y in array2">
       <p>{{y}}</p>
     </div>
   </div> -->
 </div>
</div>
